<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('layouts/header'); %>
    <meta charset="UTF-8">
    <title>Login Page</title>
</head>
<body>
<%- include('layouts/navigation'); %>
<header class="masthead" style="background-image: url('assets/img/home-bg.jpg')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="site-heading">
                    <h1>Signup Page</h1>
                    <span class="subheading">A Blog Theme by Start Bootstrap</span>
                </div>
            </div>
        </div>
    </div>
</header>
<div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7">
            <div class="my-5">
                <!-- * * * * * * * * * * * * * * *-->
                <!-- * * SB Forms Contact Form * *-->
                <!-- * * * * * * * * * * * * * * *-->
                <!-- This form is pre-integrated with SB Forms.-->
                <!-- To make this form functional, sign up at-->
                <!-- https://startbootstrap.com/solution/contact-forms-->
                <!-- to get an API token!-->
                <form id="contactForm" method="post" action="/register">
                    <div class="form-floating">
                        <input class="form-control" id="username" name="username" type="text"
                               placeholder="Enter your name..." data-sb-validations="required"/>
                        <label for="username">Username</label>
                        <div class="invalid-feedback" data-sb-feedback="name:required">A name is required.</div>
                    </div>
                    <div class="form-floating">
                        <input class="form-control" id="password" name="password" type="password"
                               placeholder="Enter your name..."
                               data-sb-validations="required"/>
                        <label for="password">Password</label>
                        <div class="invalid-feedback" data-sb-feedback="name:required">A name is required.</div>
                    </div>
                    <div class="form-floating">
                        <input class="form-control" id="confirm-password" name="confirmPassword" type="password"
                               placeholder="Enter your name..."
                               data-sb-validations="required"/>
                        <label for="confirm-password">Confirm Password</label>
                        <div class="invalid-feedback" data-sb-feedback="name:required">A name is required.</div>
                    </div>
                    <div class="form-floating">
                        <select class="form-select" name="userType" id="user-type">
                            <option value="Admin">ADMIN</option>
                            <option value="Driver">DRIVER</option>
                            <option value="Examiner">EXAMINER</option>
                        </select>
                        <label for="user-type">Choose a car:</label>
                        <div class="invalid-feedback" data-sb-feedback="name:required">A name is required.</div>
                    </div>


                    <br/>
                    <!-- Submit success message-->
                    <!---->
                    <!-- This is what your users will see when the form-->
                    <!-- has successfully submitted-->
                    <!-- Submit error message-->
                    <!---->
                    <!-- This is what your users will see when there is-->
                    <!-- an error submitting the form-->
                    <div class="d-none" id="submitErrorMessage">
                        <div class="text-center text-danger mb-3">Error sending message!</div>
                    </div>
                    <!-- Submit Button-->
                    <button class="btn btn-primary text-uppercase" id="submitButton" type="submit">Signup</button>
                </form>
            </div>
        </div>
    </div>
</div>
<%- include('layouts/footer'); %>
</body>
</html>